%h1 This is the index#articles Placeholder

- @articles.each do |article|
  %h1= article.title
  %p
    Published at
    = article.created_at.strftime('%b %d, %Y')

= link_to "Create New Article", new_article_path